.App {
  height: 100%;
}

.areaEnd,
.area {
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  flex-direction: row;
}

.areaEnd > div {
  background-color: #fff;
  border: 2px solid #006699;
}

.right-panel {
  height: 100%;
  flex-direction: column;
  padding: 20px;
}

.title3,
.title2,
.title {
  display: flex;
  justify-content: center;
  background-color: #f6ffff;
  width: 15%;
  border: 2px solid #006699;
  border-radius: 0px 0px 0px 40px;
  background-image: url("./images/panda-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.titleDiv {
  font-weight: bold;
  padding-top: 8px;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  border: 2px solid #006699;
  align-items: center;
  justify-content: center;
  border-radius: 0px 40px 0px 0px;
  font-family: "Segoe UI";
  width: 40vw;
  background-color: #002233;
  background-image: url("./images/background2.png");
  background-position: right bottom;
  opacity: 90%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.firstContent {
  display: flex;
  flex-direction: column;
  color: #f6ffff;
  gap: 24px;
}

.secondContent {
  display: flex;
  color: #f6ffff;
  gap: 24px;
}

.secondContent > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.addressContent {
  display: flex;
  color: #f6ffff;
  gap: 24px;
}

.addressContent > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#placeholder {
  text-align: center;
  font-family: "Segoe UI";
  width: 100%;
}

.labelDiv > select {
  width: 100%;
}

.buttonsEndDiv {
  display: flex;
  justify-content: space-between;
}

.information {
  text-align: left;
  color: #65697c;
}

.copyright {
  color: #f6ffff;
  font-size: 12px;
  text-align: center;
}

.errorMsg {
  color: red;
}

.a {
  color: #f6ffff;
}

.a > link {
  color: lightblue;
}

.a > hover {
  color: #fcfcfc;
}

.a > active {
  color: #c0c0c0;
}

.button {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  background-color: #415058;
  border: 2px solid #f6ffff;
  border-radius: 0px 20px 20px 0px;
  color: #f6ffff;
  width: 40%;
  transition: all 1s ease;
}

.button:hover {
  background-color: #006699;
  transition: 1s;
}

.buttonReturn {
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  transition: all 1s ease;
}

.buttonReturn:hover {
  background-color: orange;
  transition: 1s;
}

.buttonFinish {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 0px 20px 20px 0px;
  width: 40%;
  transition: all 1s ease;
}

.buttonFinish:hover {
  background-color: #006699;
  transition: 1s;
}

.buttonReset {
  cursor: pointer;
  margin-top: 10px;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 5px;
  width: 35%;
  transition: all 1s ease;
}

.buttonReset:hover {
  background-color: orange;
  transition: 1s;
}

.buttonResetDiv {
  display: flex;
  justify-content: center;
}
