.App {
  text-align: center;
  height: 100%;
}

.area {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.form {
  border: 3px solid #f6ffff;
  font-family: "Segoe UI";
  width: 1000px;
  padding: 16px;
  border-radius: 10px;
  background-color: #131629;
  opacity: 95%;
}

.firstContent {
  display: flex;
  flex-direction: column;
  color: #f6ffff;
  gap: 24px;
}

.firstContent > label {
  align-self: flex-start;
}

.firstContent > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.secondContent {
  display: flex;
  color: #f6ffff;
  gap: 24px;
}

.secondContent > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.addressContent {
  display: flex;
  color: #f6ffff;
  gap: 24px;
}

.addressContent > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.labelContent{
  align-items: flex-start;
}

.labelContent > input{
  width:98%;
}

.button {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 0px 20px 20px 0px;
  width: 8%;
  transition: all 400ms ease;
}

.buttonReturn {
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 20px 0px 0px 20px;
  width: 8%;
  transition: all 400ms ease;
}

.buttonFinish {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 0px 20px 20px 0px;
  width: 8%;
  transition: all 400ms ease;
}

.buttonsEnd {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  transition: all 400ms ease;
}

.buttonReset {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  background-color: #65697c;
  border: 2px solid #f6ffff;
  color: #f6ffff;
  border-radius: 20px;
  width: 100%;
  transition: all 400ms ease;
}

#placeholder {
  text-align: center;
  font-family: "Segoe UI";
  width: 100%;
}

/* .effect {
  background-color: #28348A;
}

.effect::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8%;
  height: 80px;
  background: rgba (255, 255, 255, 0.3);
  border-radius: 0px 20px 20px 0px;
  transition: all 2s ease;
}

.effect:hover::before {
  width: 100%;
} */

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  background-color: #f6ffff;
  text-align: center;
  color: #65697c;
  border: 3px groove #f6ffff;
  padding: 15px;
  border-radius: 15px;
  align-self: flex-start;
}

.labelDiv > select {
  align-self: flex-start;
  width: 100%;
}

.formEnd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
}

.formEnd > h1 {
  align-self: center;
}

.errorMsg {
  color: red;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6ffff;
  color: #65697c;
  border: 3px groove #f6ffff;
  padding: 20px;
  border-radius: 15px;
}

